@import "tailwindcss";

@theme {
  --color-navbar: oklch(20.8% 0.042 265.755);
  --color-notification-success: #2f9e44;
  --color-notification-error: #e03131;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 28px;
}

.Button {
  border: 1px solid var(--foreground);
  padding: 4px 8px;
  border-radius: 6px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    @apply bg-navbar;
  }
}