@keyframes notificationAnimation {
    0% { margin-top: 0; }
    20% { margin-top: 24px; }
    80% { margin-top: 24px; }
    100% { margin-top: 0; }
}

.Notification {
    animation-name: notificationAnimation;
    animation-duration: 3s;
}